.loader-visible{
    position: absolute;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: calc(100% - 3px);

    background-color: rgb(41 41 38 / 77%);

    font-size: 14px;
}

.loader-hide {
    display: none;
}

.loader-logo {
    max-width: 50px;
    max-height: 50px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
