.div-img {
    position: relative;
}

.author-name {
    opacity: 0;
    position: absolute;

    margin-bottom: 3px;
    padding: 20px;

    border-radius: 20px 0px 0px 0px;

    bottom: 0;
    right: 0;

    font-size: 14px;
}

.div-img:hover > .author-name {
    opacity: 1;

    color: white;
    background-color: rgb(41 41 38 / 77%);
}

.img-list {
    width: 100%;
    height: auto;

    padding-bottom: 3px;

    cursor: pointer;
}
