.header {
    position: fixed;
    top: 0;
    z-index: 2;

    height: 80px;
    width: 100%;
    padding: 10px;
    margin-bottom: 6px;

    display: flex;
    align-items: center;
    background-color: #173150;
}

.logo {
    max-height: 60px;
    margin-left: 10px;
}
